html, body {
    margin: 0;
    height: 100%;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #484848;
}
img { border: none; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

/**** PANEL / FLEX BOXES ****/

#app {
    height: 100%;
    display: flex;
    flex-flow: row;
}
#panel {
    order: 1;
    flex: 3 30%;
    align-self: stretch;
    overflow: auto;
    max-width: 20em;
    white-space: nowrap;
    background-color: #e3dbd6;
    border-right: 0.2em solid #847c77;
}
#content {
    order: 2;
    flex: 7 70%;
    align-self: stretch;
    overflow: auto;
    background-color: #e3dbd6;
    position: relative;
}
#content > h1, #content > h2, #content > h3,
#content > h4, #content > h5, #content > h6,
#content > form, #content > p
{ margin-left: 1em; margin-right: 1em; }

/**** ACTIONS LISTS ****/

.toolbar {
    background-color: #c1b9b4;
}
.actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 24px;
    border-left: 0.2em solid #e3dbd6;
    border-right: 0.2em solid #e3dbd6;
}
.actions li {
    float: right;
    border-left: 0.2em solid #e3dbd6;
    background-color: #e3dbd6;
}
.actions li.secondary { float: left; border-right: 0.2em solid #e3dbd6; border-left: none; }
.actions a {
    display: block;
    height: 16px;
    min-width: 16px;
    padding: 2px;
    text-align: center;
    border: 2px solid #cec6c1;
    border-radius: 5px;
    background-color: #c1b9b4;
    text-decoration: none;
    color: #484848;
    font-size: 0.5em;
    line-height: 16px;
    vertical-align: baseline;
}
.actions a.disabled { background-color: #e3dbd6; }
.actions li.active a, .actions li a.selected { background-color: #fff1e7; }
.actions a:hover { background-color: #e3dbd6; }

.actions #hidden-picture-button {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/**** TREE PANEL ****/

#panel h3 { margin: 0.2em; }
#panel a { text-decoration: none; color: #484848; outline: 0; }
#panel h3 > a, #panel a.item { display: block; }
#panel h3 > a {
    padding: 0.1em 0.5em 0.1em 1.6em;
    background-repeat: no-repeat;
    background-position: 0.2em 0.2em;
    background-image: url('img/folders-stack.png');
}
#panel h3 > a:hover, #panel a.item:hover { background-color: #f4ece7; border-radius: 0.2em; }
#panel .selected > a.item { background-color: #fff1e7; border-radius: 0.2em; }

#panel #root, #panel #root ul {
    list-style-type: none;
    padding: 0; margin: 0;
}
#panel #root { margin: 0 0.2em; }
#panel #root li { margin: 0.2em 0; padding: 0 0 0 1.2em; position: relative; }
/*#panel #root > li { padding: 0; }*/
#panel #root li > a.item { background-repeat: no-repeat; padding: 0.1em 0.5em 0.1em 1.6em; background-position: 0.1em 0.2em; }
#panel #root .file > a.item, #panel #root .directory > a { height: 1.5em; line-height: 1.4em; }
#panel #root .file > a.item { background-image: url('img/document.png'); }
#panel #root .directory > a.item { background-image: url('img/folder.png'); }
#panel #root .directory.open > a.item { background-image: url('img/folder-open.png'); }

#panel #root .arrow {
    position: absolute;
    left: 0;
    margin: 0.2em 0;
    width: 16px;
    height: 16px;
}

/**** CONTENT ****/

.path {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    text-align: right;
    clear: both;
    background-color: #e3dbd6;
}

#editor {
    min-height: 1em;
    /*border-bottom: 1px dotted #847c77;*/
    margin: 0.5em;
    padding: 0.5em;
    outline: 0;
    background-color: #fff1e7;
    box-shadow: 0 0 0.2em 0.2em #fff1e7;
}
#editor p { text-indent: 1em; }
pre { white-space: pre-wrap; word-wrap: break-word; }

label { display: inline-block; width: 8em; }

.success { color: blue; }
.error { color: red; }