html, body { margin: 0; height: 100%; }
#app {
    height: 100%;
    display: flex;
    flex-flow: row;
}
#panel {
    order: 1;
    flex: 3 30%;
    align-self: stretch;
    overflow: auto;
    max-width: 20em;
    white-space: nowrap;
    padding: 0 0.5em;
    background-color: #d3d3d3;
    border-right: 0.2em solid #7e7e7e;
}
#content {
    order: 2;
    flex: 7 70%;
    align-self: stretch;
    overflow: auto;
    padding: 0 0.5em;
    border-right: 0.2em solid #d3d3d3;
}
#panel #root, #panel #root ul { list-style-type: none; padding: 0; margin: 0; }
#panel #root li { background-repeat: no-repeat; line-height: 16px; margin: 0.2em 0; padding-left: 1.4em; }
#panel #root .file { background-image: url('img/document.png'); }
#panel #root .directory { background-image: url('img/folder.png'); }
#panel #root .directory.open { background-image: url('img/folder-open.png'); 